<div class="page-content" id="account-readings">

    <div class="page-header">
        <div class="title">
            <h2>Readings</h2>
        </div>
        <div class="path">
            <h5>Account > Readings</h5>
        </div>
    </div>

    <div class="content">

        <div class="section">
            <h4>Readings</h4>
            <div>
                <table class="table table-striped">
                    <theah>
                        <tr>
                            <th>#</th>
                            <th>Station</th>
                            <th>Date</th>
                            <th>Readings</th>
                            <th>&nbsp;</th>
                        </tr>
                    </theah>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#" class="link">Name <span class="label label-danger">Deleted</span></a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                            <td><a href="#" class="delete" data-toggle="modal" data-target="#modal-delete-reading"><i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span></a></td>
                        </tr>
                        <tr class="danger">
                            <td>2</td>
                            <td><a href="#" class="link">Name <span class="label label-danger">Deleted</span></a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                            <td><!--<a href="#" class="delete" data-toggle="modal" data-target="#modal-delete-reading"><i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span></a>-->&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="account-my-stations-station-settings.html" class="link">Name</a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                            <td><a href="#" class="delete" data-toggle="modal" data-target="#modal-delete-reading"><i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="account-my-stations-station-settings.html" class="link">Name</a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                            <td><a href="#" class="delete" data-toggle="modal" data-target="#modal-delete-reading"><i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span></a></td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <p class="legends">* A reading marked in red means that reading has been requested for deletion and the request is pending.</p>
            <!--<p>You don't have any readings from station in production! <a class="link" href="#">Read more about our API.</a></p>-->
        </div>

        <hr>

        <div class="section">
            <h4>Test readings</h4>
            <!--<div>
                <table class="table table-striped">
                    <theah>
                        <tr>
                            <th>#</th>
                            <th>Station</th>
                            <th>Date</th>
                            <th>Readings</th>
                        </tr>
                    </theah>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#" class="link">Name</a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#" class="link">Name</a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#" class="link">Name</a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="#" class="link">Name</a></td>
                            <td>12/06/2017 15:31:27</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <p class="legends">* These readings will be automatically deleted after 24h.</p>-->
            <p>You don't have any readings from station in test! <a class="link" href="#">Read more about our API.</a></p>
        </div>

    </div>
</div>