<section id="registraion-page" class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="block">
                    <h2 class="title">Welcome <br class="visible-xs">(red pill?)</h2>
                    <div>
                        <form>

                            <div class="form-group">
                                <input type="text" placeholder="Account name" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="email" placeholder="Email address" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> I agree to the OpenQuake <a href="#">terms</a>
                                </label>
                            </div>

                            <div class="button">
                                <a class="btn btn-primary" href="account-account-info.html">SIGN UP</a>
                            </div>                   
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="call-to-action" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title">SO WHAT YOU THINK ?</h1>
                    <p>Do you want to give your contribute to this project? Help us spread the word!</p>
                    <a href="#" class="btn btn-default btn-contact">CONTRIBUTE</a>
                </div>
            </div>
            
        </div>
    </div>
</section>