<div class="page-content" id="account-my-stations">

    <div class="page-header">
        <div class="title">
            <h2>My Stations</h2>
        </div>
        <div class="path">
            <h5>Account > My Stations</h5>
        </div>
    </div>

    <div class="content">

        <div class="buttons">
            <div>
                <a href="apiary.io" class="btn btn-primary-reverse"><i class="fa fa-book" aria-hidden="true"></i> API DOCS</a>
                <a ui-sref="account.station-new" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> NEW STATION</a>
            </div>
        </div>

        <div class="clearfix"></div>
        
        <hr>

        <!--<div class="section">
            <p>That's sad :'( You don't have any station. Create your first one <a class="link" href="account-my-stations-new-station.html">here</a>.</p>
        </div>-->

        <div class="stations">

            <div class="item">
                <div class="header">
                    <div class="actions">
                        <a href="#" class="toggle"><i class="fa fa-toggle-off" aria-hidden="true"></i> <span class="hidden-xs">Toggle</span></a>
                        <a ui-sref="account.station-edit" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i> <span class="hidden-xs">Edit</span></a>
                        <a href="#" class="delete" data-toggle="modal" data-target="#modal-delete-station"><i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span></a>
                    </div>
                    <a ui-sref="account.station-settings" class="name">First arduino seismographFirst arduino seismograph</a>
                    <div class="clearfix"></div>
                    <p class="description">Blah blash blash dfjdjkdknadakndak</p>
                </div>
                <span class="label label-success">ACTIVE</span>
                <span class="label label-warning">PRODUCTION</span>
            </div>
            <hr>

            <div class="item">
                <div class="header">
                    <div class="actions">
                        <a href="" class="toggle"><i class="fa fa-toggle-off" aria-hidden="true"></i> <span class="hidden-xs">Toggle</span></a>
                        <a ui-sref="account.station-edit" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i> <span class="hidden-xs">Edit</span></a>
                        <a href="#" class="delete" data-toggle="modal" data-target="#modal-delete-station"><i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span></a>
                    </div>
                    <a ui-sref="account.station-settings" class="name">Name2</a>
                    <div class="clearfix"></div>
                    <p class="description"></p>
                </div>
                <span class="label label-danger">INACTIVE</span>
                <span class="label label-default">TEST</span>
            </div>
            <hr>
        </div>

        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>