<section class="moduler wrapper-error-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="cd-headline slide">404</h1>
                    <h2>Ops! There are some problems</h2>
                    <p>The page you are looking for was moved, removed, renamed or might never existed.</p>
                    <a ui-sref="index" class="btn btn-dafault btn-home">Home</a>
                </div>
            </div>
        </div>
    </div>
</section>